<body class="text-center">
<form class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Quinta-feira, 01 de Junho de 2022</h1>
  <label for="inputEmail" class="sr-only">Email</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="E-mail" autofocus="">
  <label for="inputPassword" class="sr-only">Nova senha</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Senha">
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" routerLink="/foto">Entre Aqui</button>
  <p class="mt-5 mb-3 text-muted">© R ❤ D</p>
</form>
</body>
